// Colors
$text-color: #333;

$color-title: #354052;
$color-subtitle: #7f8fa4;
$color-text: #354052;

$background-color: #eff3f6;
$border-color: #e6eaee;

// Breakpoints
$breakpoints: (
  'tablet': (min-width: 768px),
  'desktop': (min-width: 960px)
) !default;

// Fonts
$primary-font: 'Source Sans Pro', Arial;
$font-title : 'Source Sans Pro', Arial, sans-serif;
