// Colors
$text-color: #333;

// Breakpoints
$breakpoints: (
  'tablet': (min-width: 768px),
  'desktop': (min-width: 960px)
) !default;

$border-color: #e6eaee;

$font-title : 'Source Sans Pro', Arial, sans-serif;
$color-title: #354052;
$color-subtitle: #7f8fa4;
$color-text: #354052;


