.featured{

}

.featured-list {
  width: 100%;
}

.featured-list__item {
  width: 100%;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
  border: solid 1px $border-color;
  background: #fff;
}

.featured-list__featured-image {
  width: 100%;
  height: 175px;
}

.featured-list__item__title{
  font-family: $font-title;
  font-size:16px;
  color: $color-title;

  small {
   font-size:12px;
   display: block;
   color: $color-subtitle;
  }
}

@include media-desktop-breakpoint {
  .featured-list {
    display: flex;
  }

  .featured-list{
    justify-content: space-between;
  }

  .featured-list__item{
    margin-left: 2%;
  }

  .featured-list__item:first-child{
    margin-left: 0;
    margin-right: 2%;
  }
}
